:root {
  --light-basecolor: #fff7e0;
  --light-highlight: #2F4858;
  --light-accentcolor: #CBD4BE;
}
@viewport {
  width: device-width;
  zoom: 1.1;
  min-zoom: 0.4;
  max-zoom: 2;
  user-zoom: fixed;
  }

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

body {
  cursor: auto;
  line-height: 1.5;
  background-color: var(--light-basecolor);
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--light-highlight);
}

ul {
  list-style: none;
  text-align: justify;
}

a {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.1fr auto auto auto 0.1fr;
  grid-template-areas: "menuBar" "topArea" "middleArea" "cards" "bottomArea";
}

.menuBar, .bottomArea {
  padding: 1rem;
}

.menuBar {
  grid-area: menuBar;
  text-align: left;
  background-color: var(--light-highlight);
}

.topArea {
  grid-area: topArea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "profilePic" "info";
  background-color: var(--light-accentcolor);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.info, .bottomArea {
  place-items: center;
}

.info {
  grid-area: info;
  padding: 2rem;
  min-width: 40ch;
  display: flex;
  flex-direction: column;
}

.profilePic {
  grid-area: profilePic;
  padding: 2rem 0;
}

.profilePic>img {
  max-width: 20em;
  height: auto;
  border-radius: 20%;
}

.aboutMe {
  grid-area: about;
  padding: 2rem;
  min-width: 40ch;
  background-color: var(--light-accentcolor);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem;
}

.cards {
  grid-area: cards;
  gap: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  flex-direction: column;
}

.hobbies, .skills, .otherskills {
  padding: 2rem;
  background-color: var(--light-accentcolor);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1 1;
}

.hobbies {
  grid-area: hobbies;
}

.skills {
  grid-area: skills;
}

.otherskills {
  grid-area: otherskills;
}

.bottomArea {
  grid-area: bottomArea;
  background-color: var(--light-highlight);
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-basecolor: #222831;
    --light-highlight: #348587;
    --light-accentcolor: #30475e;
  }
  body {
    color: white;
  }
}

@media (min-width: 550px) {
  .cards {
    flex-direction: row;
  }
}