:root {
  --secondary: #cbd4be;
  --primary: #fff7e0;
  --accent: #2f4858;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  cursor: auto;
  line-height: 1.5;
  background-color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: var(--accent);
  height: 100%;
}
br {
  border: 5px black solid;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: opacity 0.2s ease-in;
  color: white;
}

a:hover {
  opacity: 0.75;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "menuBar" "topArea" "middleArea" "cards" "projects" "bottomArea";
  margin: auto;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "menuBar" "topArea" "projects-info" "bottomArea";
  height: inherit;
  grid-template-rows: auto auto 1fr;
}

.menuBar,
.bottomArea {
  padding: auto;
  background-color: var(--accent);
}

.menuBar {
  grid-area: menuBar;
  text-align: end;
  display: none;
}

.topArea {
  grid-area: topArea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "intro" "pic";
  background-color: var(--secondary);
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
}

.intro {
  grid-area: intro;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
}

.introText {
  padding: 1rem;
  border: 5px var(--accent) solid;
  border-radius: 20px;
  background-color: var(--secondary);
}

.subIntroText {
  padding: 1rem;
  border: 5px var(--accent) solid;
  border-radius: 20px;
}

.pic {
  grid-area: pic;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pic > img {
  max-width: 20ch;
  border: 5px var(--accent) solid;
  justify-content: left;
  align-items: center;
  border-radius: 2rem;
  margin: 2rem auto;
}

.thumbnail {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.bottomArea {
  place-items: center;
}

.middleArea {
  grid-area: middleArea;
  padding: auto;
  justify-content: center;
  background-color: var(--secondary);
  margin: 1rem 0;
}

.aboutMe {
  padding: 1rem;
  max-width: 60ch;
  margin: 0 auto;
}

.cards {
  grid-area: cards;
  gap: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: auto;
}

.projects {
  grid-area: projects;
  place-items: center;
  background-color: var(--secondary);
  margin: 1rem 0 0 0;
  padding: bottom 1rem;
}
.projects-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projectCard {
  margin: 1rem;
}
.projectCard img {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}
.hobbies,
.skills,
.otherskills {
  padding: 2rem 0;
  background-color: var(--secondary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-row {
  display: flex;
  justify-content: space-between;
}
.left {
  text-align: left;
}
.hobbies {
  grid-area: hobbies;
}

.skills {
  grid-area: skills;
}

.otherskills {
  grid-area: otherskills;
}

.bottomArea {
  grid-area: bottomArea;
  margin: auto;
  width: 100%;
  border-top: 2px var(--secondary) solid;
  color: var(--primary);
}

.bottomArea a,
.bottomArea p {
  padding: 0.5rem;
  text-align: center;
}

@media (min-width: 592px) {
  .cards {
    flex-direction: row;
  }
  .intro {
    display: flex;
  }
  .introText {
    text-align: left;
  }
  .pic {
    padding: 1rem;
  }
  .container {
    display: none;
  }
  .menuBar {
    display: flex;
  }
  .menuBar a {
    padding: 0.8rem;
  }
}
