:root {
  --secondary: #CBD4BE;
  --primary: #fff7e0;
  --accent: #2F4858;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  cursor: auto;
  line-height: 1.5;
  background-color: var(--primary);
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: var(--accent);
  heigt:100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: opacity 0.2s ease-in;
  color: white;
}

a:hover {
  opacity: 0.75;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "menuBar" "topArea" "middleArea" "cards" "bottomArea";
  margin: auto;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "menuBar" "topArea" "projects" "bottomArea";  
  height: inherit;
	grid-template-rows: auto auto 1fr
}

.menuBar, .bottomArea {
  padding: auto;
  background-color: var(--accent);
}

.menuBar {
  grid-area: menuBar;
  text-align: end;
  display: none;
}

.topArea {
  grid-area: topArea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "intro" "pic";
  margin: 0 0 2rem 0;
  background-color: var(--secondary);
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;

}

.intro {
  grid-area: intro;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem;
  
}

.introText {
  padding: 1rem;
  background-color: rgba(203, 212, 190, 0.75);
  border: 5px var(--accent) solid;
  border-radius: 20px;
  margin: 1rem;

}
.pic {
  grid-area: pic;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pic>img {
  max-width: 20ch;
  border: 5px var(--accent) solid;
  justify-content: left;
  align-items: center;
  border-radius: 2rem;
}

.thumbnail{
  height: 250px;
  width:250px;
  border-radius: 20px;

}

.bottomArea {
  place-items: center;
}

.middleArea {
  grid-area: middleArea;
  padding: auto;
  justify-content: center;
  margin: auto;
}

.aboutMe {
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  margin: auto 2rem;
  text-align: justify;
}

.cards {
  grid-area: cards;
  gap: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  flex-direction: column;
  padding: auto;
}

.projects{
  grid-area: projects;
  display: grid;
  place-items: center;
  background-color: var(--secondary);
  margin:  0 auto 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.hobbies, .skills, .otherskills {
  padding: 2rem 0;
  background-color: var(--secondary);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1 1;
  margin: 2rem 0;

}

.hobbies {
  grid-area: hobbies;
}

.skills {
  grid-area: skills;
}

.otherskills {
  grid-area: otherskills;
}

.bottomArea {
  grid-area: bottomArea;
  background-color: var(--secondary);
  margin: auto;
  width: 100%;
}

.bottomArea a, .bottomArea p {
  padding: 0.5rem;
  text-align: center;
  color: var(--accent);
}

@media (min-width: 592px) {
  .cards {
    flex-direction: row;
  }
  .intro {
    display: flex;
  }
  .introText{
    text-align: left;
  }
  .pic {
    margin: 2rem auto;
    padding: 1rem;
  }
  .container {
    display: none;
  }
  .menuBar {
    display: flex;
  }
  .menuBar a {
    padding: 0.8rem;
  }
}
